config:
  receivers:
    otlp:
      protocols:
        grpc: {}
        http: {}
    prometheus:
      config:
        scrape_configs:
          - job_name: 'otel-collector'
            scrape_interval: 30s
      target_allocator:
        endpoint: http://otel-target-allocator-opentelemetry-target-allocator-ta  
        interval: 30s
        collector_id: '${POD_NAME}' 

  exporters:
    otlp/traces:
      endpoint: http://tempo.observability.svc.cluster.local:4317
      tls:
        insecure: true
    otlphttp/logs:
      endpoint: "http://loki.observability.svc.cluster.local:3100/otlp"
      tls:
        insecure: true
    prometheusremotewrite:
      endpoint: "http://prometheus-server.observability.svc.cluster.local/api/v1/write"
      resource_to_telemetry_conversion:
        enabled: true

  processors:
    batch:
      send_batch_size: 1000
      timeout: 5s

    k8sattributes:
      auth_type: serviceAccount
      passthrough: false
      extract:
        metadata:
          - k8s.pod.name
    attributes:
      actions:
        - action: upsert
          key: service.name
          from_attribute: k8s.pod.name

  service:
    telemetry: 
      logs: 
        level: "debug" 
    pipelines:
      traces:
        receivers: [otlp]
        processors: [batch]
        exporters: [otlp/traces]
      metrics:
        receivers: [prometheus]
        processors: [batch]
        exporters: [prometheusremotewrite]
      logs:
        receivers: [otlp]
        processors: [batch, k8sattributes, attributes]
        exporters: [otlphttp/logs]
clusterRole:
  create: true
  rules:
    - apiGroups: [""]
      resources: ["pods"]
      verbs: ["get", "list", "watch"]
    - apiGroups: [""]
      resources: ["nodes"]
      verbs: ["get", "list", "watch"]

extraEnvs:
  - name: POD_NAME
    valueFrom:
      fieldRef:
        fieldPath: metadata.name
  - name: K8S_SERVICE_NAME
    valueFrom:
      fieldRef:
        fieldPath: metadata.labels['app']
