prometheus-node-exporter:
  enabled: false

kube-state-metrics:
  enabled: false

prometheus-pushgateway:
  enabled: false

alertmanager:
  enabled: false

server:
  extraArgs:
    web.enable-remote-write-receiver: ""

serverFiles:
  prometheus.yml:
    remote_write:
      - url: "http://prometheus-server.observability.svc.cluster.local/api/v1/write"
        write_relabel_configs:
          - source_labels: [__name__]
            regex: "unwanted_metric.*"
            action: drop
