apiVersion: v1
kind: Service
metadata:
  name: opentelemetry-collector
  namespace: observability
  labels:
    app: opentelemetry-collector
spec:
  ports:
    - name: grpc-otlp
      port: 4317
      protocol: TCP
      targetPort: 4317
  selector:
    app: opentelemetry-collector