apiVersion: secrets-store.csi.x-k8s.io/v1
kind: SecretProviderClass
metadata:
  name: certificate-from-aws
  namespace: istio-gateway
spec:
  provider: aws
  parameters:
    objects: |
      - objectName: "hrms/cirtificatetls"
        objectType: "secretsmanager"
        objectAlias: "tls.crt"

      - objectName: "hrms/cirtificatetls"
        objectType: "secretsmanager"
        objectAlias: "tls.key"
  secretObjects:
    - secretName: hrms-cirtificate-k8s
      type: kubernetes.io/tls
      data:
        - objectName: "hrms/cirtificatetls"
          key: hrms-sercrets

# kubectl create secret tls cirtificate-hrms-secret --cert=/mnt/secrets-store/tls.crt --key=/mnt/secrets-store/tls.key -n istio-gateway