apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: argocd-http
  namespace: argocd
spec:
  hostnames:
  - hrms.anasolconsultancyservices.com
  parentRefs:
  - name: gateway
    namespace: istio-gateway
  rules:
  - backendRefs:
    - name: argocd-server
      port: 443