apiVersion: v1
kind: Service
metadata:
  name: redis-master-service
  namespace: redis
spec:
  type: ClusterIP
  ports:
    - port: 6379
      targetPort: 6379
  selector:
    statefulset.kubernetes.io/pod-name: redis-0

---

apiVersion: gateway.networking.k8s.io/v1alpha2
kind: TCPRoute
metadata:
  name: redis-master-tcp
  namespace: redis
spec:
  parentRefs:
    - name: gateway
      namespace: istio-gateway
      sectionName: redis-listener
  rules:
    - backendRefs:
        - name: redis-master-service
          port: 6379
